.Post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 255px;
    height: 150px;
    margin-bottom: 25px;
    border-radius: 15px;
    border: 1px solid white;
    background-color: brown;
}

.Post p {
    font-size: 14px;
    font-family: "Bookman Old Style";
    color: snow;
    margin-bottom: 10px;
}

.Post button {
    border: none;
    border-radius: 25px;
    width: 100px;
    height: 40px;
    font-family: "Bookman Old Style";
    background-color: bisque;
}

.Post button:hover{
    transform: scale(1.1);
    transition: 0.05s;
}