body {
    margin: 0;
}

.Header {
    width: 100%;
    height: 20vh;
    background-color: #775342;;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Header a {
    text-decoration: none;
    color: snow;
    font-size: 25px;
}