.User {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 500px;
    height: 300px;
    margin-bottom: 25px;
    margin-top: 25px;
    border-radius: 15px;
    border: 1px solid white;
    background-color: brown;
}

.User p {
    font-size: 14px;
    font-family: "Bookman Old Style";
    color: snow;
}

.User button {
    border: none;
    border-radius: 25px;
    width: 180px;
    height: 40px;
    font-family: "Bookman Old Style";
    background-color: bisque;
}

.User button:hover{
    transform: scale(1.1);
    transition: 0.05s;
}